/* Fonts from GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DM+Sans&family=Fuzzy+Bubbles&family=Poiret+One&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DM+Sans&family=Fuzzy+Bubbles&family=Indie+Flower&family=Poiret+One&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DM+Sans&family=Fuzzy+Bubbles&family=Indie+Flower&family=Kolker+Brush&family=Poiret+One&family=Roboto:wght@900&display=swap');

body {
  background-color: greenyellow;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: underline;
}

.snail-card{
  text-align: center;
  max-width: 150px;
  max-height: 150px;
}

.App {
  text-align: center;
}

div {
  background-size: cover;
}

.home, .home div, .navbar {
  display: flex;
}

.home, .home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home div {
  flex-direction: column;
}

.home div {
  height: 40em;
  width: 30em;
}

h2 {
  text-align: left;
  font-weight: normal;
}

h1, h2, h3, h4 {
  margin: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Fuzzy Bubbles', cursive;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.listings {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

form {
  background-color: #556EC3;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
}

form input {
  display: block;
  padding: 0.25em;
}

button, input {
  outline: none;
  border: none;
  border-radius: 0.25em;
}

button {
  padding: 0.5em 2em;
  background-color: white;
  font-family: 'Georgia';
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}

.comments {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  font-size: 20px;
}

.comments-a {
  font-size: 50px
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px
}
